.nav-item  a:hover{
    border-bottom: 2px solid blue;
}


.nav-item a{
    font-weight: 800 !important;
}

.active{
    color:#1f72c5 !important;
    font-weight: 800 !important;
    border-bottom: 3px solid gray;
}


.nav-link{
    text-decoration: none !important;
    color:darkgrey;
}

.titles{
    font-weight: 800 !important;
}

td{
    font-weight: 800 !important;
}