.font-bold{
    font-weight: 600;
}

.bg-primary1{
    background-color: #ffff;
}

.activepage{
    background-color: #F3F3F3;
}

.font-large{
    font-weight: bold;
}

.addbtn{
    background-color: #00BDDA;
    padding:10px 10px;
    border:unset;
    color:white;
    border-radius: 20px;
}

.addbtn:hover{
    background-color: unset;
       border:1px solid #00BDDA;
       color:#00BDDA;

}

.capitalize{
    text-transform: capitalize;
}

.ml-20{
    margin-left: 20px;
}

.img-md{
    width: 80px;
    margin-left: 10px;
    
}

.space{
    margin-left: 120px;
}
.checkbox-space{
        margin-right: 10px;
}

.input-space{
    margin-left: 24px;
}
.space-100{
    margin-right: 20px;
}

.font-bold-100{
        font-weight: 400;
        position: relative;
}



/* line hieght */
.line-1{
    line-height: 30px;
}